<div id="wrapper" class="d-flex flex-column justify-content-between">
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion h-100  " id="accordionSidebar"
		data-parent='#sidebarToggleTop'>
		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center py-3 h-auto" href="/admin/dashboard">
			<i class="fas fa-fw fa-heartbeat"></i>
			<div class="sidebar-brand-text mx-2">Life Optimizer</div>
		</a>
		<!-- Divider -->
		<hr class="sidebar-divider m-0" />
		<hr class="sidebar-divider m-0" />
		<!-- Nav Item - Dashboard-->
		<li class="nav-item ">
			<a class="nav-link py-2 h-auto" href="/admin/dashboard">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span>Dashboard</span></a>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider m-0" />
		<hr class="sidebar-divider m-0" />
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed  py-2 h-auto" href="#" data-toggle="collapse" data-target="#collapseCategory"
				aria-expanded="true" aria-controls="collapseCategory">
				<i class="fas fa-fw fa-list-ul"></i>
				<span>Category</span>
			</a>
			<div id="collapseCategory" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-1 h-auto collapse-inner rounded">
					<!-- <h6 class="collapse-header">Custom Components:</h6> -->
					<a class="collapse-item" href="/admin/category-add">Add
						Category</a>
					<a class="collapse-item" href="/admin/category">Category</a>
				</div>
			</div>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider m-0" />
		<hr class="sidebar-divider m-0" />
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed py-2 h-auto" href="#" data-toggle="collapse" data-target="#collapseSubCategory"
				aria-expanded="true" aria-controls="collapseSubCategory">
				<i class="fas fa-fw fa-list-ul"></i>
				<span>Sub Category</span>
			</a>
			<div id="collapseSubCategory" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-1 h-auto collapse-inner rounded">
					<!-- <h6 class="collapse-header">Custom Components:</h6> -->
					<a class="collapse-item" href="/admin/sub-category-add">Add Sub Category</a>
					<a class="collapse-item" href="/admin/sub-category">All Sub Category</a>
				</div>
			</div>
		</li>

		<!-- Divider -->
		<hr class="sidebar-divider m-0" />
		<hr class="sidebar-divider m-0" />
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed py-2 h-auto" href="#" data-toggle="collapse" data-target="#collapseProviders"
				aria-expanded="true" aria-controls="collapseProviders">
				<i class="fas fa-fw fa-users"></i>
				<span>Providers</span>
			</a>
			<div id="collapseProviders" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-1 h-auto collapse-inner rounded">
					<!-- <h6 class="collapse-header">Custom Components:</h6> -->
					<a class="collapse-item" href="/admin/provider-add">Add
						Provider</a>
					<a class="collapse-item" href="/admin/provider">All
						Providers</a>
				</div>
			</div>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider m-0" />
		<hr class="sidebar-divider m-0" />
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed py-2 h-auto" href="#" data-toggle="collapse" data-target="#collapseTemplates"
				aria-expanded="true" aria-controls="collapseTemplates">
				<i class="fas fa-fw fa-clipboard-list"></i>
				<span>Templates</span>
			</a>
			<div id="collapseTemplates" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-2 h-auto collapse-inner rounded">
					<!-- <h6 class="collapse-header">Custom Components:</h6> -->
					<a class="collapse-item" href="/admin/template-add">Add
						Template</a>
					<a class="collapse-item" href="/admin/template">All
						Templates</a>
				</div>
			</div>
		</li>

		<!-- Divider -->
		<hr class="sidebar-divider m-0" />
		<hr class="sidebar-divider m-0" />
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed py-2 h-auto" href="#" data-toggle="collapse"
				data-target="#collapseSubscription" aria-expanded="true" aria-controls="collapseSubscription">
				<i class="fas fa-fw fa-dollar-sign"></i>
				<span>Subscription</span>
			</a>
			<div id="collapseSubscription" class="collapse" aria-labelledby="headingTwo"
				data-parent="#accordionSidebar">
				<div class="bg-white py-1 h-auto collapse-inner rounded">
					<!-- <h6 class="collapse-header">Custom Components:</h6> -->
					<a class="collapse-item" href="/admin/subscription-plans-add">Add
						Subscription</a>
					<a class="collapse-item" href="/admin/subscription-plans">All
						Subscriptions</a>
				</div>
			</div>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider m-0" />
		<hr class="sidebar-divider m-0 " />
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<label class="dropdown-item nav-link py-2 h-auto m-0 text-black-400 " data-toggle="modal"
				data-target="#logoutModal">
				<i class="fas fa-sign-out-alt fa-fw mr-2"></i>
				<span>Logout</span>
			</label>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider m-0" />
		<hr class="sidebar-divider m-0" />

		<!-- Divider -->
	</ul>
</div>