<div id="wrapper" class="d-flex flex-column justify-content-between">
	<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion h-100  " id="accordionSidebar"
		data-parent='#sidebarToggleTop'>
		<!-- Sidebar - Brand -->
		<a class="sidebar-brand d-flex align-items-center justify-content-center py-3 h-auto" href="/admin/dashboard">
			<i class="fas fa-fw fa-heartbeat"></i>
			<div class="sidebar-brand-text mx-2">App Name</div>
		</a>
		<!-- Divider -->
		<hr class="sidebar-divider m-0" />
		<hr class="sidebar-divider m-0" />
		<!-- Nav Item - Dashboard-->
		<li class="nav-item ">
			<a class="nav-link" href="/admin/dashboard">
				<i class="fas fa-fw fa-tachometer-alt"></i>
				<span class="font-weight-bold">Dashboard</span>
			</a>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider m-0" />
		<hr class="sidebar-divider m-0" />
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed " href="#" data-toggle="collapse" data-target="#collapseCategory"
				aria-expanded="true" aria-controls="collapseCategory">
				<i class="fas fa-fw fa-list-ul"></i>
				<span class="font-weight-bold">Category</span>
			</a>
			<div id="collapseCategory" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-1 h-auto collapse-inner rounded">
					<!-- <h6 class="collapse-header">Custom Components:</h6> -->
					<a class="collapse-item mx-1" href="/admin/category-add">Add
						Category</a>
					<a class="collapse-item mx-1" href="/admin/category">Category</a>
				</div>
			</div>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider m-0" />
		<hr class="sidebar-divider m-0" />
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed " href="#" data-toggle="collapse" data-target="#collapseSubCategory"
				aria-expanded="true" aria-controls="collapseSubCategory">
				<i class="fa fa-list-ul"></i>
				<span class="font-weight-bold">Sub Category</span>
			</a>
			<div id="collapseSubCategory" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-1 h-auto collapse-inner rounded">
					<!-- <h6 class="collapse-header">Custom Components:</h6> -->
					<a class="collapse-item mx-1" href="/admin/sub-category-add">Add Sub Category</a>
					<a class="collapse-item mx-1" href="/admin/sub-category">All Sub Category</a>
				</div>
			</div>
		</li>
		<!-- Divider -->
		<hr class="sidebar-divider m-0" />
		<hr class="sidebar-divider m-0" />
		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item">
			<a class="nav-link collapsed " href="#" data-toggle="collapse" data-target="#collapseProducts"
				aria-expanded="true" aria-controls="collapseProducts">
				<i class="fa fa-list-ul"></i>
				<span class="font-weight-bold">Products</span>
			</a>
			<div id="collapseProducts" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-1 h-auto collapse-inner rounded">
					<!-- <h6 class="collapse-header">Custom Components:</h6> -->
					<a class="collapse-item mx-1" href="/admin/product/add">Add Product</a>
					<a class="collapse-item mx-1" href="/admin/products">All Products</a>
				</div>
			</div>
		</li>



		<!-- Divider -->
		<hr class="sidebar-divider m-0" />
		<hr class="sidebar-divider m-0" />

		<!-- Divider -->
	</ul>
</div>